<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS FONTS -->
    <link rel="stylesheet" href="./public/css/fonts.css" />
    <!-- CSS PAGINA -->
    <link rel="stylesheet" href="./public/css/index.css" />
    <!-- CDN REMIX ICONS -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!-- JS -->
    <script src="./public/scripts/index.js"></script>

    <title>TikTok | Home</title>
  </head>
  <body>
    <header>
      <div class="tiktok-logo">
        <h1>Tik Tok</h1>
      </div>
      <div class="search">
        <input type="text" placeholder="Procurar" />
        <i class="ri-search-line"></i>
      </div>
      <div class="navbar">
        <nav>
          <ul>
            <li>
              <a
                href="#"
                id="upload"
                onclick="<% if (user) { %> window.location.href='/uploadVideo'; <% } else { %> abrirPopup('Para publicar um vídeo, você precisa estar logado.'); <% } %>"
              >
                <i class="ri-add-line"></i> Carregar
              </a>
            </li>
            <% if (user) { %>
            <li>
              <p>Bem-vindo, <%= user.nome %></p>
            </li>
            <% } else { %>
            <li>
              <a href="#" id="login" onclick="abrirModal()">Entrar</a>
            </li>
            <% } %>
          </ul>
        </nav>
      </div>
    </header>

    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="fecharModal()">&times;</span>
        <div id="loginForm" class="form-container">
          <h2>Entrar no Tik Tok</h2>
          <form action="/loginUsuario" method="post">
            <div class="label-group">
              <label for="email">Email</label> <br />
              <i class="ri-mail-line"></i>
              <input type="text" name="email" placeholder="Email" required />
            </div>
            <br />
            <div class="label-group">
              <label for="senha">Senha</label> <br />
              <i class="ri-lock-line"></i>
              <input
                type="password"
                name="senha"
                placeholder="Senha"
                required
              /><br />
            </div>
            <button type="submit">Entrar</button>

            <div class="footer-form">
              <p>
                Não tem uma conta?
                <a href="#" onclick="abreCadastroFormulario()">Criar conta</a>
              </p>
            </div>
          </form>
        </div>

        <div id="cadastroForm" class="form-container" style="display: none">
          <h2>Criar uma conta no Tik Tok</h2>
          <form action="/inserirUsuario" method="post">
            <div class="label-group">
              <label for="nome">Nome</label> <br />
              <i class="ri-user-line"></i>
              <input type="text" name="nome" placeholder="Nome" required />
            </div>
            <br />
            <div class="label-group">
              <label for="apelido">Apelido</label> <br />
              <i class="ri-at-line"></i>
              <input
                type="text"
                name="apelido"
                placeholder="Apelido"
                required
              />
            </div>
            <br />
            <div class="label-group">
              <label for="emailCadastro">Email</label> <br />
              <i class="ri-mail-line"></i>
              <input type="text" name="email" placeholder="Email" required />
            </div>
            <br />
            <div class="label-group">
              <label for="senhaCadastro">Senha</label> <br />
              <i class="ri-lock-line"></i>
              <input
                type="password"
                name="senha"
                placeholder="Senha"
                required
              /><br />
            </div>
            <button type="submit">Criar Conta</button>

            <div class="footer-form">
              <p>
                Já tem uma conta?
                <a href="#" onclick="voltaParaLoginForm()">Entrar</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="popup" class="popup">
      <div class="popup-content">
        <span class="close" onclick="fecharPopup()">&times;</span>
        <p id="popup-message"></p>
      </div>
    </div>

    <% videosTTK.forEach(videoTTK => { %>
  <div class="video-container">
    <div class="video-content">
      <div class="profile-user">
        <img src="./images/teste.jpg" alt="" />
      </div>
      <div class="video-player-container">
        <div class="user-information">
          <h2><%= videoTTK.nome_usuario %></h2>
        </div>
        <video controls class="video-player">
          <source
            src="<%= videoTTK.video.replace(/\\/g, '/').replace('views/', '') %>"
            type="video/mp4"
          />
          Seu navegador não suporta o elemento de vídeo.
          <!-- replace substitui as barras invertidas \ por barras normais / para assim -->
          <!-- o navegador ler a rota -->

          <!-- e essa parte .replace('views/', '') é para remover o views do começo-->
          <!-- pois no bd o vídeo está salvo na pasta /videos/arquivo.mp4 -->
        </video>
      </div>
      <div class="buttons">
        <div class="buttons-content">
          <span
            id="curtida_<%= videoTTK.id_video %>"
            data-video-id="<%= videoTTK.id_video %>"
            data-usuario-id="<%= user ? user.id : '' %>"
            onclick="curtirVideo(this)"
            class="<%= videoTTK.curtiu ? 'curtido' : '' %>"
          >
            <i class="ri-heart-fill"></i>
          </span>
          <p id="curtidas_<%= videoTTK.id_video %>">
            <%= videoTTK.curtidas %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% }); %>

    <script>
      function curtirVideo(element) {
        const videoId = element.getAttribute("data-video-id");
        const usuarioId = element.getAttribute("data-usuario-id");

        // Adicione lógica aqui para verificar se o usuário está logado
        if (!usuarioId) {
          alert("Você precisa estar logado para curtir o vídeo.");
          return;
        }

        // Adicione lógica aqui para verificar se o usuário já curtiu o vídeo
        const usuarioJaCurtiu = element.classList.contains("curtido");

        if (usuarioJaCurtiu) {
          alert("Você já curtiu este vídeo.");
          return;
        }

        // Envie uma requisição AJAX para o servidor para registrar a curtida
        fetch(`/curtirVideo/${videoId}/${usuarioId}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            // Atualize o número de curtidas na interface
            const curtidasElement = document.getElementById(
              `curtidas_${videoId}`
            );
            curtidasElement.innerText = data.curtidas;

            // Adicione a classe "curtido" ao ícone de curtida
            element.classList.add("curtido");
          })
          .catch((error) => console.error("Erro ao curtir o vídeo:", error));
      }
    </script>
  </body>
</html>
